body{
    width: 980px;
    margin: 0 auto;
}
header{
    display: flex;
}
header img{
    width: 150px;
}
nav{
    margin-top: 25px;
    margin-left: 30px;
}
li{
    font-size: 12px;
}
h1{
    background-image: url(images/mv@2x.jpg);
    background-repeat: no-repeat;
    background-size: 980px;
    background-position: 0px -139px;
    padding: 20px 110px;
    margin: 20px 0px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 100px;
    font-weight: 200;
}
main img{
    width: 323px;
}
aside{
    margin-top: 50px;
}